.banner {
    background: url("https://images.unsplash.com/photo-1464855499786-2839659d9e5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80") center center;
    height:70vh;
    position: relative;
}
.banner__info {
    background-color: black;
    color: white;
    padding-top: 25vh;
    padding-left: 50px ;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
}
.banner__search {
    display: flex;
    flex-direction: column;
}
.banner__searchButton {
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color:#78cfba !important;
}
.banner__info > button {
    background-color: #78cfba;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}
.banner__info > button:hover {
    background-color: white;
    color: #78cfba;
}